#profile {
  background: url("https://www.transparenttextures.com/patterns/elastoplast.png"), #e7c21c;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 480px;
  width: 25%;
  margin: 30px;
  margin-left: 50px;
}

@media only screen and (max-width: 1024px) {
  #profile {
    width: 100%;
    margin: 0px;
    padding-top: 0px;
  }
}