nav {
  display: flex;
  height: 120px;
  width: 100%;
  background-color: #3e54a2;
  color: #ffffff;
  padding: 1.5em;
  justify-content: space-between;
  z-index: 10;
  top: 0;
  position: fixed;
  padding-top: 1em;
  font-size: 40px;
  /* margin-bottom: 80px; */
}

.logo {
  font-family: bungee;
}

#new-tweet {
  display: flex;
  margin-left: 1.5em;
  margin-right: 1.5em;
  flex-direction: column;
  float: right;
  align-items: center;
  font-size: 20px;
}

.new-tweet-link {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
  color: #FFF;
  position: relative;
}

.new-tweet-link p {
  font-size: 25px;
  margin-bottom: 5px;
  color: #FFF;
  margin-top: 0px;
}

#angle-arrow {
  color: crimson;
  align-items: center;
  position: absolute;
  animation: jumpInfinite 1.5s infinite;
}

#angle-arrow:hover {
  color: white;
}

/* Animation for angle down arrow */
@keyframes jumpInfinite {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: 10px;
  }
  100% {
    margin-top: 0;
  }
}

@media only screen and (max-width: 1024px) {
  nav {
    background: url("https://www.transparenttextures.com/patterns/elastoplast.png"), #e7c21c;
    position: absolute;
    position: fixed;
  }
  .navbar {
    align-items: flex-start;
  }
}