.container {
  
  background: none;
  text-align: left;
  margin-top: 10px;
}

.new-tweet {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.title {
  font-weight: bold;
  color: grey;
}

.counter {
  float: right;
  font-family: bungee;
}

.submit-tweet {
  width: 100%;
  padding-top: 20px;
}

#tweet-area {
  display: flex;
  width: 100%;
  border: none;
  border-bottom: grey 4px solid;
  background: none;
  text-align: left;
  outline: none;
  margin-bottom: 10px;
  margin-top: 8px;
  font-weight: bold;
  font-size: large;
}

.submit-button {
  background-color: #3e54a2;
  color: white;
  font-family: bungee;
  border: none;   
  cursor: pointer;
}

.submit-button:focus {
  outline: none !important;
    border-color: #3e54a2;
    box-shadow: 0 0 10px #3e54a2;
}

.tweet-container {
  display: flex;
  flex-direction: column;
  background: none;
  text-align: left;
  margin-top: 30px;
}

.tweet {
  width: 100%;
  border: 2px solid;
  margin-top: 25px;
  margin-bottom: 25px;
}

.tweet:hover {
  border: 2px solid;
  padding: 10px;
  box-shadow: 5px 10px #888888;
}

.tweet header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tweet footer {
  border-top: 2px solid grey;
  margin-bottom: 10px;
}

.tweet div {
  padding-left: 25px;
  padding-top: 10px;
}

.profile {
  display: flex;
  align-items: center;
}

.usericon {
  margin: 5px;
}

.uname {
  margin-left: 10px;
  font-weight: bold;
}

.atuser {
  float: right;
  padding-right: 10px;
  opacity: 0.7;
  color: #c9cee6;
  font-weight: bold;
}

.footercontent {
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 5px;
  font-size: medium;
  font-weight: bold;
}

.fa-flag,
.fa-retweet,
.fa-heart {
    color: #3e54a2;
}

.fa-retweet:hover,
.fa-heart:hover,
.fa-flag:hover {
    color: #ca9827;
}

.icons {
  float: right;
}